:lang(zh-Hant-TW) {
	font-family: "source-han-sans-traditional", sans-serif;
	font-style: normal;
	font-weight: 200;
}
body {
	font-family: "Alegreya", serif;
	padding-top: 20px;
	padding-bottom: 20px;
	max-width: 730px;
}
header {
	padding: 0px 15px 15px 15px;
}
header div {
	position: relative;
}
header h3 {
	margin-bottom: 20px;
}
section.row {
	margin-left: 0px;
	margin-right: 0px;
}
section:first-of-type,
footer {
	border-top: 1px solid #E5E5E5;
}
section:first-of-type {
	padding-top: 20px;
}
section:last-of-type {
	padding-bottom: 20px;
}
section h3 {
	margin: 14px 0px 14px 0px;
	padding-left: 15px;
	padding-right: 15px;
}
section article:nth-of-type(odd) {
	clear: left;
}
section article div {
	position: relative;
	background-color: #EEE;
	border-radius: 6px;
	padding: 20px;
	margin-top: 6px;
	margin-bottom: 20px;
}
section article div p:last-of-type {
	white-space: pre-wrap;
}
section article div p:last-of-type:after {
	content: "\A\A";
}
section article .btn-primary {
	position: absolute;
	right: 20px;
	bottom: 20px;
}
footer {
	padding: 20px 15px 0px 15px;
}
footer div {
	display: inline-block;
}
footer div:first-child {
	vertical-align: 11px;
	padding-right: 10px;
}
table thead tr th:last-child,
table tbody tr td:last-child {
	width: 100px;
}
table tbody tr td[colspan] {
	font-weight: bold;
}
table tbody tr td[colspan] span:lang(zh-Hant-TW) {
	font-weight: 500;
}
table tbody tr td:first-child:not([colspan]) {
	text-indent: 25px;
}
#scroll-top {
	position: fixed;
	right: 0px;
	bottom: 0px;
	padding: 6px 12px;
	margin-right: 10px;
	background-color: #8F8F8F;
	color: #FFF;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	cursor: pointer;
}
#scroll-top:hover {
	background-color: #AAA;
}
