:lang(zh-Hant-TW) {
	font-family: "source-han-sans-traditional", sans-serif;
	font-style: normal;
	font-weight: 200;
}
body {
	font-family: "source-serif-pro", serif;
	font-style: normal;
	font-weight: 400;
	padding-top: 20px;
	padding-bottom: 20px;
	max-width: 730px;
}
header {
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
}
header nav {
	position: relative;
}
header h3 {
	font-weight: 400;
	margin-bottom: 20px;
}
header p.lead {
	font-weight: 400;
	font-size: 15px;
	margin-bottom: 0;
}
header div {
	display: inline-block;
}
header div:first-of-type {
	vertical-align: 43px;
	padding-left: 6px;
	padding-right: 25px;
}
header .btn {
	font-weight: 400;
}
section.row {
	margin-left: 0;
	margin-right: 0;
}
section:first-of-type,
footer {
	border-top: 1px solid #E5E5E5;
}
section:first-of-type {
	padding-top: 20px;
}
section:last-of-type {
	padding-bottom: 20px;
}
section h3 {
	font-weight: 400;
	margin: 14px 0 14px 0;
	padding-left: 15px;
	padding-right: 15px;
}
section article:nth-of-type(odd) {
	clear: left;
}
section article h4 {
	font-weight: 400;
	margin-top: 12px;
}
section article h4 small {
	padding-left: 6px;
	color: #3380CF;
}
section article div {
	position: relative;
	background-color: #EEE;
	border-radius: 6px;
	padding: 20px;
	margin-top: 6px;
	margin-bottom: 20px;
}
section article div p:last-of-type {
	white-space: pre-wrap;
}
section article div p:last-of-type:after {
	content: "\A\A\A";
}
section article div div.btn-group {
	position: absolute;
	right: 20px;
	bottom: 20px;
	padding: 0;
	margin: 0;
}
section article i.fa {
	margin-right: 0.4em;
}
section .btn {
	font-weight: 400;
}
footer {
	padding: 20px 15px 0 15px;
}
footer div {
	display: inline-block;
}
footer div:first-of-type {
	vertical-align: 11px;
	padding-right: 10px;
}
table thead tr th:last-of-type,
table tbody tr td:last-of-type {
	width: 100px;
}
table thead tr th,
table tbody tr td[colspan] {
	font-weight: 600;
}
table tbody tr td[colspan] span:lang(zh-Hant-TW) {
	font-weight: 500;
}
table tbody tr td:first-of-type:not([colspan]) {
	text-indent: 25px;
}
#scroll-top {
	position: fixed;
	right: 0;
	bottom: 0;
	padding: 6px 12px;
	margin-right: 10px;
	background-color: #8F8F8F;
	color: #FFF;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	cursor: pointer;
	display: none;
}
#scroll-top:hover {
	background-color: #AAA;
}
