body {
	font-family: "source-serif-pro", serif;
	font-style: normal;
	font-weight: 400;
}
:lang(zh-Hant-TW) {
	font-family: "source-han-sans-traditional", sans-serif;
	font-style: normal;
	font-weight: 200;
}
.container {
	max-width: 800px;
}
@media print {
	.container {
		width: 21cm;
	}
}
ul {
	padding-left: 1.3rem;
	list-style-type: circle;
}
strong {
	font-weight: 600;
}
a, a:hover {
	color: inherit;
	text-decoration: none;
	word-break: break-all;
}
header {
	padding-top: 20px;
	padding-bottom: 20px;
}
header h3 {
	color: #337ab7;
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-weight: 400;
}
header p {
	text-align: justify;
}
header div.row {
	margin-bottom: 1rem;
}
article > div:first-of-type {
	color: #337ab7;
	font-size: 1.2em;
	text-align: right;
	margin-bottom: 1.5rem;
}
/*noinspection CssFloatPxLength*/
@media (max-width: 767.98px) {
	article > div:first-of-type {
		text-align: center;
	}
	article > div:first-of-type > div {
		float: none !important;
	}
}
div.entry {
	margin-bottom: 1.5rem;
}
div.entry > div:not(:last-of-type) > div.flex-grow-1 {
	font-weight: 600;
}
.circles {
	color: slategrey;
}
.circles span {
	color: lightgrey;
}
div.entry-subheading i.fa {
	font-size: 0.8em;
}
